<!DOCTYPE HTML>
<html lang="ja">
    <head>
    </head>
    <body>
        <div id="main">
            <nav class="navbar navbar-light bg-faded sticky-top navbar-toggleable-md app-nav bg-faded">
                <router-link class="navbar-brand" to="/tasks">要望管理</router-link>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <div class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <router-link class="nav-link" to="/tasks" exact>要望一覧<span class="sr-only">(current)</span></router-link>
                        </li>
                        <li class="nav-item">
                            <router-link class="nav-link" to="/send">要望登録</router-link>
                        </li>
                    </div>
                </div>
            </nav>

            <main>
                <div class="container">
                    <router-view></router-view>
                </div>
            </main>
        </div>
        <script type="text/javascript" src="/static/dist/bundle.js"></script>
    </body>
</html>
